<h3>
	Category List 
	<a class="btn btn-info btn-sm pull-right" ui-sref="addCategories">Add Category</a>
</h3>

<table class="table table-hover responsive">
	<thead>
		<tr>
			<th>ID</th>
			<th>Category Name</th>
			<th>Date Created</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="c in categories">
			<td ng-bind="c.id"></td>
			<td ng-bind="c.category"></td>
			<td ng-bind="c.created_at"></td> 
			<td style="width: 15%">
				<a class="btn btn-success" ui-sref="editCategory({id: c.id})">Edit</a>
				<a class="btn btn-danger" ng-click="delete(c.id)">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
