<h3>
	Orders List 
</h3>

<div id="alerts-container" ></div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Buyer</th>
			<th>Vendor</th>
			<th>Price</th>
			<th>Amount Commision</th>
			<th>Date Purchased</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="o in orders">
			<td ng-bind="o.product_name"></td>
			<td ng-bind="o.buyer.fullname"></td>
			<td ng-bind="o.product.user.fullname"></td>
			<td ng-bind="o.price"></td>
			<td ng-bind="o.amount_commission"></td>
			<td ng-bind="o.created_at_iso_date | date:'fullDate'"></td>
		</tr>
		<tr ng-show="orders.length == 0">
			<td colspan="6">
				No orders yet.
			</td>
		</tr>
	</tbody>
</table>
