<h3>
	Product List 
	<a ui-sref="newProduct" class="btn btn-sm btn-info pull-right">
		<span class="glyphicon glyphicon-plus"></span> 
		Add Product 
	</a>
</h3>

<div id="alerts-container" ></div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Tagline</th>
			<th>Category</th>
			<th>Sale From</th>
			<th>Sale To</th>
			<th>Date Created</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in products">
			<td ng-bind="p.product_name"></td>
			<td ng-bind="p.tagline"></td>
			<td ng-bind="p.category.category"></td>
			<td ng-bind="p.sale_start_date_iso_date | date:'fullDate'"></td>
			<td ng-bind="p.sale_end_date_iso_date | date:'fullDate'"></td>
			<td ng-bind="p.created_at_iso_date | date:'fullDate'"></td>
			<td style ="width:15%">
				<a ui-sref="editProduct({id:p.id})" class="btn btn-success btn-small">
					Edit
				</a>
				<a ng-click="deleteProduct(p)" class="btn btn-danger btn-small">
					Delete
				</a>
			</td>
		</tr>
	</tbody>
</table>
