<h3>
	New User
	<a ui-sref="users" class="btn btn-default btn-sm pull-right">
		<span class="glyphicon glyphicon-arrow-left"></span>
		Back
	</a>
</h3>
<hr>
<div id="alerts-container"></div>
<form novalidate name="userForm" class="form-horizontal">
	<div class="form-group">
		<div class="col-md-4"
			ng-class="{'has-error' : userForm.city.$error.required}">
			<label>City</label>
			<input name="city" type="text" ng-model="user.city" class="form-control" required>
		</div>
		<div class="col-md-4"
			ng-class="{'has-error' : userForm.country.$error.required}">
			<label>Country</label>
			<select required name="country" ng-model="user.country" ng-options="c for c in countries" class="form-control"></select>
		</div>
		<div class="col-md-4"
			ng-class="{'has-error' : userForm.gender.$error.required}">
			<label>Gender</label>
			<select required ng-model="user.gender" class="form-control" ng-options="g.v as g.k for g in genders"
			name="gender"></select>
		</div>
	</div>
	<div class="form-group ">
		<div class="col-md-6"  
			ng-class="{'has-error' : userForm.firstname.$error.required}">

			<label class="control-label">First name</label>
			<input required name="firstname" type="text" class="form-control" ng-model="user.firstname">
			<span class="text-danger" ng-show="firstname.firstname.$error.required">Required *</span>
		</div>
		<div class="col-md-6"  
			ng-class="{'has-error' : userForm.lastname.$error.required}">
			<label class="control-label">Last name</label>
			<input required name="lastname" type="text" class="form-control" ng-model="user.lastname">
			<span class="text-danger" ng-show="userForm.lastname.$error.required">Required *</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-6"
			ng-class="{'has-error' : userForm.email.$error.required || userForm.email.$error.email || userForm.email.$error.unique}">
			<label class="control-label">Email</label>
			<input required type="email" name="email" class="form-control" ng-model="user.email" ensure-unique="email">
			<span class="text-danger" ng-show="userForm.email.$error.required">Required *</span>
			<span class="text-danger" ng-show="userForm.email.$error.email">Must be a valid email *</span>
			<span class="text-danger" ng-show="userForm.email.$error.unique">Email is already used *</span>
		</div> 
		<div class="col-md-6"
			ng-class="{'has-error' : userForm.email.$error.required || userForm.email.$error.email}">
			<label class="control-label">Type</label>
			<select ng-model="user.type" ng-options="type as type for type in userTypes" class="form-control"></select>
			<span class="text-danger" ng-show="userForm.type.$error.required">Required *</span>
		</div> 
	</div> 
	<div class="form-group"> 
		<div class="col-md-6" ng-class="{'has-error' : userForm.password.$error.required}">
			<label class="control-label">Password</label>
			<input required type="password" name="password" ng-model="user.password" class="form-control">
			<span class="text-danger" ng-show="userForm.password.$error.required">Required *</span>
		</div>
	</div>
	<button type="submit" ng-disabled="userForm.$invalid" ng-click="createuser(user)" class="btn btn-success">Create</button>
</form>