<div class="content">
  <h3 class="mb-30">Credits</h3> 
  <div class="credits">
    <div class="alert alert-success alert-dismissable" ng-show="alerts.show">
      <button type="button" class="close" ng-click="alerts.show = false">×</button>
      Invitation sent to {{emails.length}} Friends. You will be notified when a friend purcahased with us.
    </div>
    <div class="credit-status">
      <div class="row">                  
        <div class="col-md-3">
          <div class="credit-border">
            <div class="num">
              <span></span>{{totalJoined.count}}
            </div>
            Friends Joined
          </div>
        </div>
        <div class="col-md-3">
          <div class="credit-border">
            <div class="num">
              <span>$</span>{{spentCredits.count}}
            </div>
            Credits Used
          </div>
        </div>
        <div class="col-md-3">
          <div class="credit-border">
            <div class="num">
              <span>$</span>{{totalEarned.count}}
            </div>
            Total Earned
          </div>
        </div>
        <div class="col-md-3">
          <div class="credit-border">
            <div class="num">
              <span>$</span>{{currentUser.credits}}
            </div>
            Available Credits
          </div>
        </div>
      </div>
    </div>
    <div class="friends-joined">
      <label>Friends who joined</label>
      <img ng-repeat="f in friendsWhoJoined" ng-src="{{f.pic}}">
      <div class="more dn"><a href="#">10 more</a></div>
    </div>
    <div class="referal">
      <label><span>Share, Refer and Get Discount</span><br>You will get $10 credits on every friend that purchases with us...</label>
      <a href="#" class="fb btn-fb"><img src="customer/images/btn-fb.png"> Refer via Facebook</a>
      <a href="#" class="twit btn-twit"><img src="customer/images/btn-twit.png"> Refer via Twitter</a>
    </div>
    <div class="credit-form">
      <form role="form" ng-submit="sendReferrals()">
        <div class="form-group">
          <input type="input" class="form-control" placeholder="friend@example.com" ng-model="emails[0]">
        </div>
        <div class="form-group">
          <input type="input" class="form-control" placeholder="friend@example.com" ng-model="emails[1]">
        </div> 
        <div class="form-group">
          <input type="input" class="form-control" placeholder="friend@example.com" ng-model="emails[3]">
        </div>  
        <div class="form-group">
          <div class="msg">
              <p>Hey what is up! </p>
              <p>I found that Buy Real Marketing brought the zooty up in my social media profile famous and gain sweet worldwide domination. And just between us? It is damn wicked cool - so you might wanna try it!</p>
              <p>Sign up at their Client Portal and get 10% off the regular prices on their homepage.</p>
              <p>Now, I am not supposed to let the cat out on that this early but, hey, we are cool so... </p>
              <p>Cheers!</p>
          </div>
        </div>                  
        <button type="submit" class="btn btn-green btn-default">Send Invites</button>
    </form>
    </div>
  </div>
</div>