<div class="content">
  <h3 class="mb-30">Profile</h3> 
  <div class="row">
    <div class="account">
      <div class="col-lg-3 col-md-4">
        <div class="menu-steps">
          <ul>
            <li><a href="#" class="active">Basic Information</a></li>
            <li><a ng-click="scrollTo('more-about')">About</a></li>
            <li><a ng-click="scrollTo('social-network')">Social Networks</a></li>
            <li><a ng-click="scrollTo('web-preferences')">Web preferences</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <!-- Start Basic Info -->
        <div class="basic-info">
          <div class="row">
            <div class="col-lg-2">
              <img ng-src="{{currentUser.pic}}">
            </div>
            <div class="col-lg-10">
              <form role="form" ng-submit="updateProfile()">
                  <div class="form-group">
                  <input type="file" ng-file-select="onFileSelect($files)"> 
                  </div>
                  <div class="form-group dn">
                    <input type="input" class="form-control" placeholder="paste image url here" ng-model="currentUser.imageUrl">
                    <p class="help-block mt-10">Please choose an image with a resulotion of more than 350x350 px.</p>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="input" class="form-control" ng-model="currentUser.firstname">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="input" class="form-control"  ng-model="currentUser.lastname">
                  </div>
                  <div class="form-group dn">
                    <label>Birth Date</label>
                    <div class="form-inline">
                      <select class="form-control" style="width:30%">
                        <option>Month</option>
                        <option>1</option>
                        <option>2</option>
                      </select>
                      <select class="form-control" style="width:30%">
                        <option>Day</option>
                        <option>1</option>
                        <option>2</option>
                      </select>
                      <select class="form-control" style="width:30%">
                        <option>Year</option>
                        <option>1</option>
                        <option>2</option>
                      </select>
                    </div>
                  </div>  
                  <div class="form-group">
                    <label class="checkbox-inline">
                      <input type="checkbox" ng-click="toggleGender()" ng-checked="currentUser.gender == 1 "> Male
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" ng-click="toggleGender()" ng-checked="currentUser.gender == 0 "> Female
                    </label>
                  </div>   
                  <div class="form-group">
                    <label for="exampleInputEmail1">City</label>
                    <input type="input" class="form-control" ng-model="currentUser.city">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Country</label>
                    <select class="form-control" ng-model="currentUser.country" ng-options="c for c in countries">
                    </select>
                  </div> 
                  <button type="submit" class="btn btn-blue btn-default">Save Changes</button>
              </form>
            </div>
          </div>
        </div>
        <!-- End Basic Info -->

        <!-- Start More About -->
        <div class="more-about" id="more-about">
          <form role="form" ng-submit="updateProfile()">    
            <div class="form-group">
              <label for="exampleInputEmail1">Profession</label>
              <input type="input" class="form-control" ng-model="currentUser.profession">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Bio</label>
              <textarea ng-model="currentUser.bio" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-sep"></div>
            <div class="form-group" id="social-network">
              <label for="exampleInputEmail1">facebook</label>
              <input ng-model="currentUser.facebook_url" type="input" class="form-control fb" placeholder="https://www.facebook.com/jonheineken">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Twitter</label>
              <input ng-model="currentUser.twitter_url" type="input" class="form-control twit" placeholder="jonheineken">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Google +</label>
              <input ng-model="currentUser.googleplus_url" type="input" class="form-control gplus" placeholder="https://plus.google.com/u/0/105233723765879178661">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Linked in</label>
              <input ng-model="currentUser.linkedin_url" type="input" class="form-control in" placeholder="http://www.linkedin.com/profile/view?id=153373276">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Dribbble</label>
              <input ng-model="currentUser.dribble_url" type="input" class="form-control dribble" placeholder="">
            </div>
            <div class="form-group" id="web-preferences">
              <label for="exampleInputEmail1">Website</label>
              <input ng-model="currentUser.website_url" type="input" class="form-control">
            </div>
            <button type="submit" class="btn btn-blue btn-default">Save Changes</button>
        </form>
        </div>
        <!-- End More About -->
      </div>
    </div>
  </div>
</div>