
  <div class="content">
    <div class="form-sort form-inline pull-right">
      <div class="form-group">
        <label>Sort by:</label>
        <select class="form-control w180">
          <option>Categories</option>
          <option>Date</option>
          <option>Price</option>
        </select>
      </div>
    </div>
    <h3 class="mb-30">Recent Purchases</h3>              
    <!-- Start Recent Purchases -->
    <div class="row recent-purchases" ng-repeat="purchase in purchases">
      <div class="col-md-3">
        <img src="{{ purchase.picture }}">
      </div>
      <div class="col-md-7">
        <h4 ng-cloak class="ng-cloak">{{ purchase.product_name }}</h4>
        <p><a href="#"><em>By : {{ purchase.product.user.firstname }}</em></a></p>
        <a ng-href="{{purchase.download_url}}" class="btn-download">Download</a>
      </div>
      <div class="col-md-2">
        <span class="date"><em ng-cloak class="ng-cloak">{{ purchase.created_at_iso_date | date: 'longDate' }}</em></span>
      </div>
    </div>
    <!-- End Recent Purchases -->
  </div>

